.Present {
  margin: auto;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  padding: 5px;
}

.UnopenPresent {
  @extend .Present;
}

.OpenPresent {
  @extend .Present;
}

.LockedPresent {
  @extend .Present;
}

/* desktop, uses these for various modes */
// @media (min-width: 1000px) and (min-height: 700px) {
//   .Present {
//     width: 500px;
//     height: 500px;
//   }
// }